{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailroutablepage_tags %}


{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    {% image page.main_image fill-320x320 %}

    <h1>{{ page.title }}</h1>

    <div class="">
          categories:
          <ul>
          {% for category in page.categories.all %}
            <li>
                <a href="{% routablepageurl page.blog_page 'category_page' category %}">{{ category.name }}</a>
            </li>
          {% endfor %}
         </ul>
    </div>
    <div>
        tags:
        <ul>
            {% for tag in page.get_tags %}
            <a href="{{ tag.url }}">{{tag.name}}</a>
            {% endfor %}
        </ul>
    </div>

    <div class="intro">{{ page.intro|richtext }}</div>
    <div class="body">{{ page.body|richtext }}</div>

    {% for item in page.gallery_images.all %}
    <div>
        {% image item.image fill-320x240 %}
        <p>{{ item.caption }}</p>
    </div>
    {% endfor %}

    <div>
        <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    </div>
{% endblock %}