{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block heading %}
    <!-- Page Header -->
    {% image page.main_image fill-850x450-c50 as image %}
    <header class="masthead" style="background-image: url('{{ image.url }}')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>{{ page.intro }}</h1>
                <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                <span class="meta">Posted by
                  <a href="#">{{ page.owner }}</a>
                  on {{ page.date }}</span>
              </div>
            </div>
          </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ page.body | richtext }}
          </div>
        </div>
      </div>
    </article>
    <hr>
{% endblock %}

